@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,300,400,500,600,700,800,800i,900&display=swap');

.titulo {
    background-size: cover;
    background-position-y: 50%;
    font-family: 'EB Garamond';
    margin-top: 3%;
}
.titulo.h1{
    line-height: 10;

}

#fondo {
    position: relative;
    background-image: url("astroescape.svg");
    background-size: cover;
}

.p{
    line-height: 10;
    margin-top: 10%;
    margin-bottom: 5%;
}


.img-responsive {
    display: block;
    margin: 0 auto;
    width: 200px; 
    height: auto;
}

.btn-custom {
    background-color: #3a557c;
    border: 2px solid #8fc027;
    border-radius: 20px;
    margin-top: 2%;
    margin-bottom: 2%;
}

.btn-custom:hover {
    background-color: #8fc027;
    border: 2px solid #3a557c;
}

.button-74 {
    background-color: #8fc027;
    border: 2px solid #3a557c;
    border-radius: 20px;
    display: inline-block;
    font-weight: 600;
    font-size: 18px;
    padding: 0 18px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-top: 5%;
    margin-bottom: 5%;
}

.button-74:hover {
    background-color: #3a557c;
    border: 2px solid #8fc027;
}